{% extends "layout.html" %}
{% block extra_head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='signin.css') }}" />
{% endblock %}
{% block content %}

      <form role="form" action="" method="post" name="login_form"
            class="form-signin">
        {{ form.csrf_token }}

        <h2 class="form-signin-heading">Sign in</h2>

        <div class="form-group">
          <label for="login-username" class="sr-only">Username:</label>
          {{ form.username(autofocus=True,
                           id='login-username', class='form-control',
                           placeholder='Username') }}
          {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="login-password" class="sr-only">Password:</label>
          {{ form.password(id='login-password', class='form-control',
                           placeholder='Password') }}
          {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <button type="submit"
                class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
{% endblock %}
